<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
	  <description>Supply data for graphics show</description>
	  <display-name>Supply data for graphics show</display-name>
	  <servlet-name>DataAccessServlet</servlet-name>
	  <servlet-class>com.echart.data.DataAccessServlet</servlet-class>
  </servlet>
  <servlet>
	  <description>upload handler</description>
	  <display-name>upload handler</display-name>
	  <servlet-name>UploadHandler</servlet-name>
	  <servlet-class>com.echart.data.UploadHandler</servlet-class>
  </servlet>
  <servlet>
	  <description>handle run of script</description>
	  <display-name>handle run of script</display-name>
	  <servlet-name>RunHandler</servlet-name>
	  <servlet-class>com.echart.data.RunHandler</servlet-class>
  </servlet>
  <servlet>
	  <description>list uploaded scripts</description>
	  <display-name>list uploaded scripts</display-name>
	  <servlet-name>ListFilesHandler</servlet-name>
	  <servlet-class>com.echart.data.ListFilesHandler</servlet-class>
  </servlet>

  <servlet-mapping>
	  <servlet-name>DataAccessServlet</servlet-name>
	  <url-pattern>/DataAccessServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	  <servlet-name>UploadHandler</servlet-name>
	  <url-pattern>/servlet/UploadHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	  <servlet-name>RunHandler</servlet-name>
	  <url-pattern>/servlet/RunHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	  <servlet-name>ListFilesHandler</servlet-name>
	  <url-pattern>/servlet/ListFilesHandler</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
